.nav {
	font-size: 8vw;
}

div.footer_ {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	font-size: 18px;
	text-align: center;
	margin: 0;
	align-content: center;
}

.form {
	width: 100%;
	padding-bottom: 50px;
}

div.form_ {
	width: 100%;
	align-items: center;
	justify-content: center;
	display: flex;
}

div.form_ {
	position: relative;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: auto;
	opacity: 0.9;
}

.card {
	margin: 15px;
	cursor: pointer;
	border-radius: 15px;
	padding: 5%;
	flex: 1;
}

.card:hover {
	opacity: 0.5;
	-webkit-transition: opacity .15s ease-in-out;
	-moz-transition: opacity .15s ease-in-out;
	-ms-transition: opacity .15s ease-in-out;
	-o-transition: opacity .15s ease-in-out;
	transition: opacity .15s ease-in-out;
}

.box a{
	text-decoration: none;
}

.div-login {
	display: flex;
	align-content: center;
	justify-content: center;
	position: relative;
	top: 200px;
	width: 100%;
	margin: 0px;
}

.div-login-child {
	width: 50%;
	display: flex;
	align-content: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid #c9c9c9;
	background-color: #ffffff;
	border-radius: 2.5%;
	-webkit-box-shadow: 21px 25px 55px -23px rgba(125, 120, 125, 0.99);
	-moz-box-shadow: 21px 25px 55px -23px rgba(125, 120, 125, 0.99);
	box-shadow: 21px 25px 55px -23px rgba(125, 120, 125, 0.99);
}

.imagem {
	height: 200px;
	border: 1px none rgb(0, 0, 0);
	width: 400px;
}

input[type=text],
input[type="password"],
input[type="email"]
option {
	font-size: 14px;
}

.table-container {
	height: 5%;
	display: flex;
	align-items: center;2
	width:80%;
	position: inherit;
}

div.table-container table {
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 5%;
	border: 1px solid gray;
}

div.table-container table th,td{
	text-align: center;
}

div.table-container table td{
	border-color: #bfbfbf;
	font-size: 0.65rem;
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width:576px) {
	.form {
		width: 100%;
		padding-bottom: 5%;
	}

}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width:1200px) {
	.form {
		width: 60%;
		padding-bottom: 5%;
	}

	input[type=text],
	input[type="password"],
	input[type="email"],
	option {
		t
		font-size: 16px;
	}

}
